@font-face {
    font-family: 'FF7';
    src: url(assets/font/Final_Fantasy_VII.ttf);
  }
  
  th, td {
    background: #04009d;
    background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }
  
  table {
      width: 70%;
      padding: 0px;
      color: #ffffff;
      text-shadow: 2px 2px #212421,1px 1px #212021;
       font-family: Verdana, sans-serif;
        font-size: 20px;
        font-weight: normal;
       margin: 5px 0;
      background-color: #FFFFFF;
      box-shadow: 1px 1px #e7dfe7, -1px -1px #e7dfe7, 1px -1px #e7dfe7, -1px 1px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b, 0 2px #424542;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
  }
  
  th, td {
      padding: 10px;
  }
  
  td {
      width: 25%;
  }
  
  .tableheader, .cat {
      font-weight: bold;
  }
  
  .faq {
      width: 70%;
  }
  
  .faq p, .faq ol, .faq li {
      font-size: 18px;
  }
  
  .faqlist {
      width: 70%;
      font-size: 18px;
  }
  
  a {
      color: #FFFFFF;
      text-decoration: underline;
  }
  
  body {
      font-family: Verdana, sans-serif;
      color: #FFFFFF;
      /*background-color: #323232;
      background-color: #42069F;*/
      background: -moz-linear-gradient(top,  #2420bd 0%, #26206d 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2420bd), color-stop(100%,#26206d));
      background: -webkit-linear-gradient(top,  #2420bd 0%,#26206d 100%);
      background: -o-linear-gradient(top,  #2420bd 0%,#26206d 100%);
      background: -ms-linear-gradient(top,  #2420bd 0%,#26206d 100%);
      background: linear-gradient(to bottom,  #2420bd 0%,#26206d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2420bd', endColorstr='#26206d',GradientType=0 );
  }
  
  th {
      font-size: 30px;
  }
  
  #csdice {
      font-size: 14px;
      font-style: italic;
  }
  
  footer {
      text-align: center;
      font-size: 14px;
  }
  
  img {
      height: 20px;
      width: 20px;
  }